##### 4. Дубликаты

К сожалению, обнаружилось, что в данных о посадочных талонах есть дубликаты (повторяющиеся значения).<br>
Дубликатом считаются строки, у которых одинаковы одновременно поля ticket_no и flight_id.<br>

Необходимо убрать дубликаты строк и оставить только первые вхождения.<br>
Порядок записей менять не надо.<br>

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).<br>
Решение должно само читать входные данные и писать ответ в заданном формате.<br>

###### Формат входных данных

На первой строчке записано натуральное число N.<br>
На последующих N строчках записаны данные об очередном талоне.<br>
Порядок полей в строчке: ticket_no, flight_id, boarding_no, seat_no.<br>
Все поля разделены одной запятой. В самих данных запятых нет.<br>

###### Формат выходных данных

Необходимо вывести все исходные строчки, без дубликатов.<br>
В каждой строчке записаны исходные поля ticket_no, flight_id, boarding_no, seat_no.<br>
Все поля разделены одной запятой.<br>

###### Пример входных данных

7<br>
EXGJGJ521,1,252st,10;C<br>
EXGJGJ521,1,252st,11;C<br>
2Jw2n5l,2,753ss,16;F<br>
KUIK2YL,3,327ggs,30;A<br>
KUIK2YL,3,328ggs,30;B<br>
8XSOVGVNDQ,4,mn001,51;A<br>
DRXGH62d,5,7733d,62;A<br>

###### Пример выходных данных

EXGJGJ521,1,252st,10;C<br>
2Jw2n5l,2,753ss,16;F<br>
KUIK2YL,3,327ggs,30;A<br>
8XSOVGVNDQ,4,mn001,51;A<br>
DRXGH62d,5,7733d,62;A<br>

In [20]:
count = int(input(''))
bilets = {}
for row in range(count):
    ticket_no, flight_id, boarding_no, seat_no = input().split(',')
    if (ticket_no + ',' + flight_id) not in bilets:
        bilets[ticket_no + ',' + flight_id] = boarding_no +',' + seat_no
for key, value in bilets.items():
    ticket_no, flight_id = key.split(',')
    boarding_no, seat_no = value.split(',')
    print(ticket_no+','+flight_id+','+boarding_no+','+seat_no)

7
EXGJGJ521,1,252st,10;C
EXGJGJ521,1,252st,11;C
2Jw2n5l,2,753ss,16;F
KUIK2YL,3,327ggs,30;A
KUIK2YL,3,327ggs,30;B
8XSOVGVNDQ,4,mn001,51;A
DRXGH62d,5,7733d,62;A
EXGJGJ521,1,252st,10;C
2Jw2n5l,2,753ss,16;F
KUIK2YL,3,327ggs,30;A
8XSOVGVNDQ,4,mn001,51;A
DRXGH62d,5,7733d,62;A