#### 8. Общие идентификаторы

Обнаружилось, что несколько аналитиков продублировали работу друг друга.<br>
Теперь нужно понять, какие рейсы обработали несколько раз.<br>

Вам дано несколько наборов идентификаторов рейсов (набор flight_id).<br>
Необходимо определить те идентификаторы, которые присутствуют в каждом наборе.<br>

В этой задаче надо написать весь код самостоятельно (а не реализовывать какую-то конкретную функцию).<br>
Решение должно само читать входные данные и писать ответ в заданном формате.<br>

##### Формат выходных данных

На первой строчке записано натуральное число N.<br>
На последующих N строчках записаны идентификаторы тех рейсов, которые обработал очередной аналитик.<br>
На одной строчке все идентификаторы записаны через запятую. В самих данных запятых нет.<br>
Каждый идентификатор рейса (flight_id) - это натуральное число.<br>

##### Формат выходных данных

Одна строчка. Выведите все общие идентификаторы в порядке возрастания их значения (как числа).<br>
В качестве разделителя используйте запятую.<br>

##### Примечание

Обратите внимание, что строчки и числа сравниваются по-разному.<br>
Так, например, строка "3" больше строчки "10".<br>
Иными словами в ответе должно быть 3,10 вместо "10","3".<br>

##### Пример входных данных

3<br>
7,3,2<br>
1,2,3,4,5<br>
3,2<br>

##### Пример выходных данных

2,3

In [ ]:
count = int(input(''))
ids = {}
for row in range(count):
    id = input().split(',')
    id = list(map(int, id))
    id = set(id)
    ids[row] = id
id_set = set()
for value in ids.values():
    id_set = value
    id_set.intersection(value)
itog = list(id_set)
itog.sort()
if count>1:
    print(*itog, sep=',')

In [6]:
count = int(input(''))
id_set = set()
for row in range(count):
    id = input().split(',')
    if row==0:
        id_set = set(list(map(int, id)))
    id_set = id_set.intersection(set(list(map(int, id))))
itog = list(id_set)
itog.sort()
print(*itog, sep=',')

1
12
12

In [ ]:
id_set

In [ ]:
id_set

In [ ]:
print(*id_set, sep=',')

In [ ]:
itog

In [ ]:
count = int(input(''))
ids = {}
for row in range(count):
    id = input().split(',')
    id = list(map(int, id))
    id = set(id)
    ids[row] = id

In [ ]:
ids

In [ ]:
id_set = set()
for value in ids.values():
    id_set = value
    id_set.intersection(value)
id_set = list(id_set)
id_set.sort()
print(','.join(map(str, id_set)))

In [ ]:
id_set

In [ ]:
count = int(input(''))
ids = []
for row in range(count):
    id = input().split(',')
    id = list(map(int, id))
    ids += id
unique = dict(zip(list(ids),[list(ids).count(i) for i in list(ids)]))
duplicates = []
for key, value in unique.items():
    if int(value)>1:
        duplicates.append(int(key))
duplicates.sort()
print(','.join(map(str, duplicates)))

In [ ]:
duplicates

In [ ]:
count = int(input(''))
ids = []
for row in range(count):
    id = input().split(',')
    ids += id

In [ ]:
ids.sort()
ids

In [ ]:
ids1 = list(map(int, ids))
ids1

In [ ]:
unique = dict(zip(list(ids1),[list(ids1).count(i) for i in list(ids1)]))

In [ ]:
unique

In [ ]:
duplicates = []
for key, value in unique.items():
    if int(value)>1:
        duplicates.append(int(key))
duplicates.sort()
print(','.join(map(str, duplicates)))

In [ ]:
duplicates