<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Homework-1-(Topics-1-4:-Data-Structures,-Indexing,-Cleaning-Data,-Math)" data-toc-modified-id="Homework-1-(Topics-1-4:-Data-Structures,-Indexing,-Cleaning-Data,-Math)-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Homework 1 (Topics 1-4: Data Structures, Indexing, Cleaning Data, Math)</a></span><ul class="toc-item"><li><span><a href="#Task-1." data-toc-modified-id="Task-1.-0.1.1"><span class="toc-item-num">0.1.1&nbsp;&nbsp;</span>Task 1.</a></span></li><li><span><a href="#Варианты-ответов:" data-toc-modified-id="Варианты-ответов:-0.1.2"><span class="toc-item-num">0.1.2&nbsp;&nbsp;</span>Варианты ответов:</a></span><ul class="toc-item"><li><span><a href="#Пояснения:" data-toc-modified-id="Пояснения:-0.1.2.1"><span class="toc-item-num">0.1.2.1&nbsp;&nbsp;</span>Пояснения:</a></span></li></ul></li><li><span><a href="#Task-2." data-toc-modified-id="Task-2.-0.1.3"><span class="toc-item-num">0.1.3&nbsp;&nbsp;</span>Task 2.</a></span><ul class="toc-item"><li><span><a href="#Пояснения:" data-toc-modified-id="Пояснения:-0.1.3.1"><span class="toc-item-num">0.1.3.1&nbsp;&nbsp;</span>Пояснения:</a></span></li></ul></li><li><span><a href="#Вопросы:" data-toc-modified-id="Вопросы:-0.1.4"><span class="toc-item-num">0.1.4&nbsp;&nbsp;</span>Вопросы:</a></span></li><li><span><a href="#Task-3." data-toc-modified-id="Task-3.-0.1.5"><span class="toc-item-num">0.1.5&nbsp;&nbsp;</span>Task 3.</a></span></li><li><span><a href="#Выберите-все-верные-пункты:" data-toc-modified-id="Выберите-все-верные-пункты:-0.1.6"><span class="toc-item-num">0.1.6&nbsp;&nbsp;</span>Выберите все верные пункты:</a></span><ul class="toc-item"><li><span><a href="#Пояснения:" data-toc-modified-id="Пояснения:-0.1.6.1"><span class="toc-item-num">0.1.6.1&nbsp;&nbsp;</span>Пояснения:</a></span></li></ul></li><li><span><a href="#Task-4." data-toc-modified-id="Task-4.-0.1.7"><span class="toc-item-num">0.1.7&nbsp;&nbsp;</span>Task 4.</a></span></li><li><span><a href="#Пояснения:" data-toc-modified-id="Пояснения:-0.1.8"><span class="toc-item-num">0.1.8&nbsp;&nbsp;</span>Пояснения:</a></span></li></ul></li><li><span><a href="#Информация-для-последующих-заданий" data-toc-modified-id="Информация-для-последующих-заданий-0.2"><span class="toc-item-num">0.2&nbsp;&nbsp;</span>Информация для последующих заданий</a></span></li></ul></li><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Описание данных</a></span><ul class="toc-item"><li><span><a href="#Таблица-transactions.csv" data-toc-modified-id="Таблица-transactions.csv-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Таблица <code>transactions.csv</code></a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Описание" data-toc-modified-id="Описание-1.1.0.1"><span class="toc-item-num">1.1.0.1&nbsp;&nbsp;</span>Описание</a></span></li><li><span><a href="#Формат-данных" data-toc-modified-id="Формат-данных-1.1.0.2"><span class="toc-item-num">1.1.0.2&nbsp;&nbsp;</span>Формат данных</a></span></li><li><span><a href="#Описание-полей" data-toc-modified-id="Описание-полей-1.1.0.3"><span class="toc-item-num">1.1.0.3&nbsp;&nbsp;</span>Описание полей</a></span></li></ul></li></ul></li><li><span><a href="#Таблица-gender_train.csv" data-toc-modified-id="Таблица-gender_train.csv-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Таблица <code>gender_train.csv</code></a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Описание" data-toc-modified-id="Описание-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Описание</a></span></li><li><span><a href="#Формат-данных" data-toc-modified-id="Формат-данных-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Формат данных</a></span></li><li><span><a href="#Описание-полей" data-toc-modified-id="Описание-полей-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Описание полей</a></span></li></ul></li></ul></li><li><span><a href="#Таблица-tr_mcc_codes.csv" data-toc-modified-id="Таблица-tr_mcc_codes.csv-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Таблица <code>tr_mcc_codes.csv</code></a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Описание" data-toc-modified-id="Описание-1.3.0.1"><span class="toc-item-num">1.3.0.1&nbsp;&nbsp;</span>Описание</a></span></li><li><span><a href="#Формат-данных" data-toc-modified-id="Формат-данных-1.3.0.2"><span class="toc-item-num">1.3.0.2&nbsp;&nbsp;</span>Формат данных</a></span></li><li><span><a href="#Описание-полей" data-toc-modified-id="Описание-полей-1.3.0.3"><span class="toc-item-num">1.3.0.3&nbsp;&nbsp;</span>Описание полей</a></span></li></ul></li></ul></li><li><span><a href="#Таблица-tr_types.csv" data-toc-modified-id="Таблица-tr_types.csv-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Таблица <code>tr_types.csv</code></a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Описание" data-toc-modified-id="Описание-1.4.0.1"><span class="toc-item-num">1.4.0.1&nbsp;&nbsp;</span>Описание</a></span></li><li><span><a href="#Формат-данных" data-toc-modified-id="Формат-данных-1.4.0.2"><span class="toc-item-num">1.4.0.2&nbsp;&nbsp;</span>Формат данных</a></span></li><li><span><a href="#Описание-полей" data-toc-modified-id="Описание-полей-1.4.0.3"><span class="toc-item-num">1.4.0.3&nbsp;&nbsp;</span>Описание полей</a></span></li></ul></li><li><span><a href="#Task-5." data-toc-modified-id="Task-5.-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Task 5.</a></span><ul class="toc-item"><li><span><a href="#Пояснения:" data-toc-modified-id="Пояснения:-1.4.1.1"><span class="toc-item-num">1.4.1.1&nbsp;&nbsp;</span>Пояснения:</a></span></li></ul></li><li><span><a href="#Task-6." data-toc-modified-id="Task-6.-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Task 6.</a></span></li><li><span><a href="#Выберите-все-верные-пункты:" data-toc-modified-id="Выберите-все-верные-пункты:-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Выберите все верные пункты:</a></span></li><li><span><a href="#Task-7." data-toc-modified-id="Task-7.-1.4.4"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span>Task 7.</a></span></li><li><span><a href="#Выберите-все-верные-пункты:" data-toc-modified-id="Выберите-все-верные-пункты:-1.4.5"><span class="toc-item-num">1.4.5&nbsp;&nbsp;</span>Выберите все верные пункты:</a></span><ul class="toc-item"><li><span><a href="#Пояснения:" data-toc-modified-id="Пояснения:-1.4.5.1"><span class="toc-item-num">1.4.5.1&nbsp;&nbsp;</span>Пояснения:</a></span></li></ul></li><li><span><a href="#Task-8." data-toc-modified-id="Task-8.-1.4.6"><span class="toc-item-num">1.4.6&nbsp;&nbsp;</span>Task 8.</a></span><ul class="toc-item"><li><span><a href="#Пояснения:" data-toc-modified-id="Пояснения:-1.4.6.1"><span class="toc-item-num">1.4.6.1&nbsp;&nbsp;</span>Пояснения:</a></span></li></ul></li></ul></li></ul></li></ul></div>

### Homework 1 (Topics 1-4: Data Structures, Indexing, Cleaning Data, Math)

In [17]:
import pandas as pd
import numpy as np

#### Task 1. 
Задание:

1. Создайте Series из последовательности 15 значений, равномерно разбивающих отрезок [0, 20] (воспользуйтесь функцией linspace)
2. Определите отношение элементов полученной серии к их предыдущим элементам (\*). 
3. В результате необходимо получить среднее полученного вектора, оставив в нём только те значения, которые не более чем 1.5 (\**). 

Выберите из ответов тот, который максимально близок к полученному (c точки зрения абсолютной разницы).

#### Варианты ответов:
    - 1) 1.24
    - 2) 1.18 
    - 3) 0.71
    - 4) 1.13


##### Пояснения:
(\*) Если было бы необходимо найти последовательность из 3-х значений,  
равномерно разбивающих отрезок [0,1], то это были бы значения [0, 0.5, 1]. 

(\**) Если был бы дан список элементов a = [1,2,3,12], отношения элементов к предыдущим будут равны [NaN, 2, 1.5, 4].  
А на последнем этапе в таком примере останется только [1.5] и среднее значение будет также 1.5.

In [26]:
#1
s = pd.Series(np.linspace(0, 20, 15))

In [27]:
s_izm = s / s.shift(1)
print(round(s_izm[s_izm <= 1.5].mean(), 2))

1.18

#### Task 2. 
Выберите все верные ответы касательно следующих 3-х Series: <br>
    - pd.Series('abcde'); (1) <br>
    - pd.Series(['abcde']); (2) <br>
    - pd.Series(list('abcde')); (3) <br>
    - pd.Series("abcde"); (4) <br>
    
##### Пояснения:
(\*)
- функция list: в строке каждый символ - это отдельный элемент для list
- квадратные скобки: в квадратных скобках списку передается множество элементов по отдельности через запятую


#### Вопросы:
    - 1) Серия (1) совпадает с серией (2), так как в каждом из случаев серия создаётся из списка строк
    - 2) Серия (2) совпадает с серией (3), так как в каждом из случаев серия создаётся из списка символов 
    - 3) Серия (1) не совпадает с серией (4), так как в (4) используются двойные кавычки "" вместо одинарных ''

In [28]:
tack2_1 = pd.Series('abcde')
tack2_2 = pd.Series(['abcde'])
tack2_3 = pd.Series(list('abcde'))
tack2_4 = pd.Series("abcde")

 <b>ОТВЕТ<br>
 
 - 1) Серия (1) совпадает с серией (2), так как в каждом из случаев серия создаётся из списка строк

In [29]:
print('tack2_1')
print(tack2_1)
print()
print('tack2_2')
print(tack2_2)
print()
print('tack2_3')
print(tack2_3)
print()
print('tack2_4')
print(tack2_4)

tack2_1
0    abcde
dtype: object

tack2_2
0    abcde
dtype: object

tack2_3
0    a
1    b
2    c
3    d
4    e
dtype: object

tack2_4
0    abcde
dtype: object

#### Task 3. 

По клиенту получены зашумленные данные (объект s типа Series) по его транзакциям. 

Для заданного ниже объекта s проделайте следующее:
1. Создайте новый Series, значения которого совпадают со значениями s, а индексы - целочисленные значения от 2 до 12, не включая 12. 
2. Выберите из s элементы с индексами 3 и 5, после чего просуммируйте их, сохранив результат (1). 
3. Выберите из s только целочисленные элементы и вычислите их дисперсию (2). (\*)

Все полученные результаты округлите до 2-х знаков после запятой.

#### Выберите все верные пункты:
    - 1) Ответ (1) - 642.52
    - 2) Ответ (1) - 91.78
    - 3) Ответ (1) - не может быть определён
    - 4) Ответ (2) - 57591.19
    - 5) Ответ (2) - 210.12
    - 6) Ответ (2) - не может быть определён

##### Пояснения:
(\*) Целочисленные значения - значения, имеющие тип int.
- Дисперсия рассчитывается с помощью функции из библиотеки numpy: np.var( , ddof=0) или встроенной в python функции: .var(ddof=1)

In [30]:
s = pd.Series(data=['1', 2, 3.1, 'hi!', 5, -512, 12.42, 'sber', 10.10, 98], 
              index=range(6, 26, 2))
### Type your code here

In [31]:
#s

<b>ответ <br>
- 3) Ответ (1) - не может быть определён<br>

In [32]:
s_new = s.copy()
s_new = s_new.reset_index()
s_new['new_index'] = list(range(2, 12))
s_new.set_index('new_index', inplace = True)
s_new.drop('index', axis = 1, inplace = True)
print(s_new.loc[3]) #+ s_new.loc[5]
print(s_new.loc[5])

0    2
Name: 3, dtype: object
0    hi!
Name: 5, dtype: object

In [33]:
def isint(s):
    if isinstance(s, int) == True:
        return 1
    return 0

In [34]:
s_var = s_new[s_new[0].apply(isint)==1][0] #.var(ddof=1)

In [50]:
s_new[s_new[0].apply(isint)==1][0].var(ddof=0).round(2)

57591.19

In [51]:
s_var.var(ddof=0).round(2)

57591.19

In [52]:
np.var(s_var, ddof=0).round(2)

57591.19

#### Task 4. 
1. Сгенерируйте Series из 100 значений нормально распределённой СВ (np.random.normal с дефолтными параметрами - нулевым средним и единичной дисперсией).
2. Возведите каждое значение серии в 3 степень, а значения индекса увеличьте в 3 раза. 
3. Ответьте на следующие вопросы через запятую (без пробелов) (\*)
    - 1) Выведите сумму элементов, строго меньших 2.6, имеющих нечётные значения индекса. 
    - 2) Выведите количество значений серии меньше нуля.

#### Пояснения:
(\*) Если получились ответы 3, 4.32, то в форму необходимо внести их в виде "3,4.32". То есть вещественные числа необходимо разделять точками. Не забудьте про фиксированный seed (его менять не нужно)!
 - Определенное значение seed нужно, чтобы ответы у всех выполняющих
это задание были одинаковые и их можно было проверить (так как генерируются
одинаковые series).
 - Следует внимательнее использовать [ ] для выбора данных по нескольким условиям:
либо выбирать данные последовательно, либо сразу по нескольким условиям,
но через оператор &. Отличие оператора and от оператора &: and - выводит
последнее проверенное значение, & - выводит пересечение значений.
Пример: s[ _  &  _ ].sum()

In [568]:
np.random.seed(242)
### Type your code here
task4 = pd.Series(np.random.normal(size=100), 
              index=[x for x in range(100)])
task4.head()

0   -0.357519
1    0.148448
2    0.993531
3    1.838968
4   -0.744026
dtype: float64

In [569]:
task4 = task4**3
task4.index = task4.index*3

In [570]:
task4.head()

0    -0.045698
3     0.003271
6     0.980718
9     6.219024
12   -0.411874
dtype: float64

In [573]:
task4

0     -0.045698
3      0.003271
6      0.980718
9      6.219024
12    -0.411874
         ...
285    0.858176
288    0.400829
291   -0.405199
294   -2.606764
297    0.000143
Length: 100, dtype: float64

In [575]:
len(task4[task4<0])

51

In [592]:
res4_2 = task4[task4<0].count()

In [580]:
task4_2 = task4[task4 < 2.6]
#task4

In [595]:
res4_1 = task4_2[task4_2.index % 2 != 0].sum()
res4_1

-15.150748101821666

In [594]:
print(round(res4_1, 2), res4_2, sep=',')

-15.15,51

### Информация для последующих заданий
- Для всех последующих заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные tr_mcc_codes, tr_types, transactions и gender_train из одноимённых таблиц из папки data. Для таблицы transactions используйте только первые n=1000000 строк. Обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [9]:
import os
import pandas as pd

In [10]:
os.getcwd()

'D:\\docs\\Учеба\\Сбербанк\\python_doc\\data'

In [11]:
os.chdir('D:\\docs\\Учеба\\Сбербанк\\python_doc\\data')
os.getcwd()

'D:\\docs\\Учеба\\Сбербанк\\python_doc\\data'

In [12]:
tr_mcc_codes = pd.read_csv('tr_mcc_codes.csv', sep=';')

In [13]:
tr_types = pd.read_csv("tr_types.csv", sep=';')

In [14]:
transactions = pd.read_csv("transactions.csv", sep=',', nrows=1000000)

In [15]:
gender_train = pd.read_csv("gender_train.csv", sep=',')

In [16]:
transactions.head()

   customer_id tr_datetime  mcc_code  tr_type    amount term_id
0     39026145  0 10:23:26      4814     1030  -2245.92     NaN
1     39026145  1 10:19:29      6011     7010  56147.89     NaN
2     39026145  1 10:20:56      4829     2330 -56147.89     NaN
3     39026145  1 10:39:54      5499     1010  -1392.47     NaN
4     39026145  2 15:33:42      5499     1010   -920.83     NaN

## Описание данных
### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

#### Task 5.
1. В tr_types выберите произвольные 100 строк с помощью метода sample (указав при этом random_seed равный 242)
2. В полученной на предыдущем этапе подвыборке найдите долю наблюдений (стобец tr_description), в которой содержится подстрока 'плата' (в любом регистре). (\*)

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Строки "ПлатА за аренду", "ПлатАза аренду", "ПЛАТА" удовлетворяют условию, так как будучи переведёнными в нижний регистр содержат подстроку "плата".

In [21]:
### Type your code here
np.random.seed(242)
tr_types100 = tr_types.sample(n=100, random_state=242)

In [49]:
import re

In [76]:
print('вариант 1 - ', tr_types100['tr_description'].str.contains(pat='плата', case=False).sum())
print('вариант 2 - ', tr_types100['tr_description'].str.contains(pat='плата', case=False).mean())

вариант 1 -  26
вариант 2 -  0.26

#### Task 6. 
1. Для поля tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Из перечисленных вариантов выберите те, которые попали в топ-5 транзакций по частоте встречаемости.

#### Выберите все верные пункты:
    - 1) Выдача наличных в АТМ Сбербанк России +
    - 2) Комиссия за обслуживание ссудного счета
    - 3) Списание по требованию	
    - 4) Оплата услуги. Банкоматы СБ РФ +
    - 5) Погашение кредита (в пределах одного филиала)
    - 6) Покупка. POS ТУ СБ РФ +

In [415]:
transactions['tr_type'].value_counts().head(5)

1010    231117
2010    151166
7070    149006
1110    137658
1030    118975
Name: tr_type, dtype: int64

In [421]:
transactions_type = transactions.set_index('tr_type').join(tr_types.set_index('tr_type'), how='inner')

In [422]:
transactions_type['tr_description'].value_counts().head(5)

Покупка. POS ТУ СБ РФ                                                                    231117
Выдача наличных в АТМ Сбербанк России                                                    151166
Перевод на карту (с карты) через Мобильный банк (без взимания комиссии с отправителя)    149006
Покупка. POS ТУ Россия                                                                   137658
Оплата услуги. Банкоматы СБ РФ                                                           118975
Name: tr_description, dtype: int64

#### Task 7.
1. В датафрейме transactions задайте столбец  customer_id в качестве индекса.
2. Выделите клиента с максимальной суммой транзакции (то есть с максимальным приходом на карту). (\*)
3. Найдите у него наиболее часто встречающийся модуль суммы приходов/расходов. (\**)


#### Выберите все верные пункты:
    - 1) 1122957.89
    - 2) 15721.41
    - 3) 22459.16
    - 4) 13475494.63
    - 5) 107407.78
    - 6) 65019.26

##### Пояснения:
(\*) Если у клиента были транзакции [-10000, 10, 0, -10], то максимумом будет являться значение 10. <br>
(\**) Если у клиента были транзакции [-10000, 10, 0, -10], то наиболее встречающийся модуль суммы транзакций равен 10, и встретился он 2 раза.

In [639]:
### Type your code here
task7 = transactions.copy()

In [640]:
task7.set_index('customer_id', inplace=True)

In [641]:
#task7

In [642]:
task7[task7['amount'] == task7['amount'].max()].index.tolist()

[26782922]

In [643]:
idx = task7.index[task7['amount'] == task7['amount'].max()].tolist()

In [644]:
abs(task7.loc[idx]['amount']).mode()

0    22459.16
dtype: float64

In [645]:
task7.loc[idx]['amount'].value_counts().head(1)

-22459.16    25
Name: amount, dtype: int64

In [646]:
abs(task7.loc[idx]['amount']).value_counts().head(1)

22459.16    25
Name: amount, dtype: int64

#### Task 8.
1. Найдите максимальную разницу между медианами суммы транзакций, посчитанными при заданных ниже условиях по полю amount из таблицы transactions (\*):
    - Медиана суммы транзакций
    - Медиана суммы транзакций по тем строкам, которые ни в одном из своих столбцов не содержат пустые значения
    - Медиана суммы транзакций по строкам, отсортированным по полю amount в порядке возрастания, и из которых удалены дублирующиеся по столбцам [mcc_code, tr_type] строки, причём при удалении соответстующих дублей остаются только последние из дублирующихся строк (keep='last')

Выведите ответ в виде вещественного числа, округлённого до двух знаков после запятой, отделив дробную часть точкой в формате "123.45"

##### Пояснения:
(\*) Для вычисления максимальной разницы между значениями списка можно использовать функцию np.ptp  
(\**) Если в результате получились значения [1,3,5], то макимальная разница между ними 4 == 5-1.

In [80]:
### Type your code here
task8 = transactions.copy()

In [81]:
#task8.info()

In [82]:
#task8.describe()

In [89]:
med1 = task8['amount'].median()
med1

-5614.79

In [90]:
task8_nan = task8.dropna()
med2 = task8_nan['amount'].median()
med2

-5596.6

In [85]:
#task8_nan.info()

In [86]:
task8_sort = task8.sort_values(by='amount', ascending=True)

In [87]:
task_dubl = task8_sort.drop_duplicates(subset=['mcc_code', 'tr_type'], keep='last')

In [88]:
med3 = task_dubl['amount'].median()
med3

-920.83

In [93]:
import numpy as np
x = np.array([med1, med2, med3])
result = np.ptp(x)

print('{:.2f}'.format(result))
print(round(result, 2))

4693.96
4693.96

In [94]:
print(med1, med2, med3)
print(round(max(med1, med2, med3)-min(med1, med2, med3), 2))

-5614.79 -5596.6 -920.83
4693.96